<div id="device_area" style="width:100%;height:100%;">
  <%= render(:partial => "users/device/set_up_real_device") %>

  <div id="device_top_bar" style="width:100%;height:15px;">
    <%= render(:partial => "users/device/device_top_panel")%>
  </div>
  <div id="device_content_area" style="width:100%;height:300px;">
    <%= render(:partial => "users/device/main_area")%>
  </div>
  <div id="device_bottom_bar">
    <%= render(:partial => "users/device/device_bottom_panel")%>
  </div>
</div>
