<div id="add_cloud_space" style="display:none;position:fixed;top:25%;left:15%;margin:auto;z-index:100;">
  <div class="round-st-border" style="margin: 0px 10px;">
    <div class="round-border-content" style="width:800px;">
      <img src="/images/closebutton4.png" style="float:right;width:30px;height:30px;cursor:pointer;" onclick="closeTransPopup('add_cloud_space');"/>
      <center>
        <h1>Add cloud storage to increase your space</h1>
        <hr>
        <div class="sp20"></div>
        <a href="<%= dropbox_authorize_url -%>">
          <img src="/images/v2/dropbox-logo.jpg" />
        </a>
      </center>
    </div>
  </div>
</div>
