App submitted for review <a target="_blank" href="<%= download_show_url(:title => u_app.title.tr(' ','_')) %>"><%= u_app.title %></a>
&nbsp;&nbsp;&nbsp;<div class="btn btn-mini btn-success" onclick="user_start_app_upload();">Upload More</div>
