<table style="width:100%">
  <tr>
    <td style="padding:0px 10px;">
      <h1>All music for your mobile</h1>
    </td>
    <td style="width:300px;">
      <%= render(:partial => "ads/ga_300x250") %>
      <div class="sp10"></div>
      <%= render(:partial => "device") %>
      <div style="width:208px;position:relative;left:48px;padding:5px;">
        <%= render(:partial => "user_bucket_list") %>
      </div>
    </td>
  </tr>
</table>

<div class="sp20"></div>


