<div id="<%= element_id %>" style="position:absolute;top:0px;left:0px;z-index:100;height:100%;width:100%;background:#e6e0ce;opacity: 0.8;filter: alpha(opacity=40);display:none">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <center><img src="/images/loading_images/loading1.gif" style="width:124px;height:124px;"></center>
</div>
