<div id="upload_apps_form_view4" style="display:none;">

  <span style="float:right">
  <a href="javascript:void(0)" onclick="Element.hide('upload_apps_form_view4');Element.show('upload_apps_form_view3')">Back</a>&nbsp;&nbsp;&nbsp;
  <button id="user_upload_app_file_4_next" onclick="upload_share_close_onclick();closeAction('upload_apps','<%= UserDetail::MY_PROFILE_IDS[UserDetail::MY_UPLOADS_SECTION]%>','form_update_upload_apps');" >Finish</button>
  </span>

</div>
