<p>
  <b>Code:</b>
  <%=h @mnl_missing_code.code %>
</p>

<p>
  <b>Detail:</b>
  <%=h @mnl_missing_code.detail %>
</p>


<%= link_to 'Edit', edit_mnl_missing_code_path(@mnl_missing_code) %> |
<%= link_to 'Back', mnl_missing_codes_path %>
